{% extends "finder/template_page.html" %}
{% load static %}

{% block titre %}Index{% endblock %}

{% block contenu %}
    <br><br><br>
    <center>
        <div class="dropper20"></div>
        <div class="superFocus">
        <a href="{% url 'finder:roll' %}" class="neonButton">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            ROLL
        </a>
        </div>
    </center>
    {% if last_submission_list %}
        {% for s in last_submission_list %}
        <br><br><h3>Titre : {{ s.date_creation }}</h3>
        <br>{{ s.user }}
        {% endfor %}
    {% else %}
        <p>Il n'y a aucune soumission en attente</p>
    {% endif %}
{% endblock %}