{% extends "finder/template_page.html" %}
{% load static %}
{% block titre %}
RollResult
{% endblock %}

{% block contenu %}
  {% if item %}
  <div class="container itemCard">
    <div class="row">
        <div class="col-2">                                
        </div>
        <div class="col-8">
            <div class="itemCard">
                <h2>{{ item.name }}</h2>
                <hr class="solid">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <img src="{% static item.getPictureLink %}" alt="" class="img-fluid" width="200" height="200">
                        </div>
                        <div class="col-6">
                            <span>{%if item.licence.all%}License(s) :{%else%}No license{%endif%}{% for l in item.licence.all %} {{l.name}};{%endfor%}</span><br>
                            <span>{%if item.developer.all%}Dev(s) :{%else%}Unknown dev{%endif%}{% for d in item.developer.all %} {{d.name}};{%endfor%}</span><br>
                            <span>{%if item.editor.all%}Editors(s) :{%else%}No Editors{%endif%}{% for e in item.editor.all %} {{e.name}};{%endfor%}</span><br>
                            <span>{%if item.platform.all%}Platform(s) :{%else%}No Platform ?????{%endif%}{% for p in item.platform.all %} {{p.name}};{%endfor%}</span><br>
                            <span>{%if item.tag.all%}Tags(s) :{%else%}No Tag{%endif%}{% for t in item.tag.all %} {{t.libelle}};{%endfor%}</span><br>
                            <span>Est indé : {{ item.isInde }}</span>
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-12">
                            <span>{{ item.description }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            
                        </div>
                    </div>
                </div>
                
            </div>                               
        </div>
        <div class="col-2">                                
        </div>
    </div>
    <div class="row">
        <center>
            <a href="{{ item.url }}" class="neonButton miniNeon">Get it !</a>
            <a href="{% url 'finder:detailGame' item.id %}" class="neonButton miniNeon">More info</a>
        </center>
    </div>
    <div class="row">
        <center>
            <form action="{% url 'finder:reroll' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="liste" id="liste" value="{{liste}}">
                <input type="submit" value="RE-ROLL" class="neonButton miniNeon" text="RE-ROLL">
              </form>
        </center>
    </div>
  </div>

  {% comment %} <p><span>autre resultats : </span>{{liste}}</p> {% endcomment %}

<br><br>
{% else %}
<br><br><br><br><br><br><br><br><br><br><br><br>
<center>
    <h1>FINITO</h1>
    <a href="{% url 'finder:roll' %}"><button class="neonButton miniNeon">Return to hub</button></a>
</center>

{% endif %}

<!-- <div class="_debug">
    <p>DEBUG</p>
    <p>prix <span>{{prix}}</span></p>
    <p>coop <span>{{coop}}</span></p>
    <p>dates <span>{{date}}</span></p>
    <p>inde <span>{{inde}}</span></p>
    <p>online <span>{{online}}</span></p>
    <p>tagPost <span>{{debugTag}}</span></p>
</div> -->
{% endblock %}