{% extends "finder/template_page.html" %}
{% load static %}

{% block additionalCSS %}
    <link rel="stylesheet" type="text/css" href="{% static 'finder/css/radio.css' %}">
{% endblock %}

{% block titre %}Roll{% endblock %}

{% block contenu %}
<div class="dropper10"></div>
<form action="{% url 'finder:rollResult' 0 %}" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="choiceCard">
                    <h2>Free</h2><br>
                    <div class="switch">
                        <input type="radio" name="free" id="freeNC" value="freeNC" class="nc" checked>
                        <label for="freeNC" class="switch__label lblnc">NC</label>
                        <input type="radio" name="free" id="freeYes" value="freeYes" class="yes">
                        <label for="freeYes" class="switch__label lblyes">Yes</label>
                        <input type="radio" name="free" id="freeNo" value="freeNo" class="no">
                        <label for="freeNo" class="switch__label lblno">No</label>
                        <div class="switch__indicator" /></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="choiceCard">
                    <h2>Online</h2><br>
                    <div class="switch">
                    <input type="radio" name="online" id="onlineNC" value="onlineNC" class="nc" checked>
                    <label for="onlineNC" class="switch__label lblnc">NC</label>
                    <input type="radio" name="online" id="onlineYes" value="onlineYes" class="yes">
                    <label for="onlineYes" class="switch__label lblyes">Yes</label>
                    <input type="radio" name="online" id="onlineNo" value="onlineNo" class="no">
                    <label for="onlineNo" class="switch__label lblno">No</label>
                    <div class="switch__indicator" /></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="choiceCard">
                    <h2>Coop</h2><br>
                    <div class="switch">
                    <input type="radio" name="coop" id="coopNC" value="coopNC" class="nc" checked>
                    <label for="coopNC" class="switch__label lblnc">NC</label>
                    <input type="radio" name="coop" id="coopYes" value="coopYes" class="yes">
                    <label for="coopYes" class="switch__label lblyes">Yes</label>
                    <input type="radio" name="coop" id="coopNo" value="coopNo" class="no">
                    <label for="coopNo" class="switch__label lblno">No</label>
                    <div class="switch__indicator" /></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="choiceCard">
                    <h2>Independant</h2><br>
                    <div class="switch">
                    <input type="radio" name="inde" id="indeNC" value="indeNC" class="nc" checked>
                    <label for="indeNC" class="switch__label lblnc">NC</label>
                    <input type="radio" name="inde" id="indeYes" value="indeYes" class="yes">
                    <label for="indeYes" class="switch__label lblyes">Yes</label>
                    <input type="radio" name="inde" id="indeNo" value="indeNo" class="no">
                    <label for="indeNo" class="switch__label lblno">No</label>
                    <div class="switch__indicator" /></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="choiceCard">
                    <h2>Release</h2><br>
                    <input type="radio" name="release" id="releaseNC" value="releaseNC" checked>
                    <label for="releaseNC">No care</label><br>
                    <input type="radio" name="release" id="releaseA" value="releaseA">
                    <label for="releaseA">Before 1990 </label><br>
                    <input type="radio" name="release" id="releaseB" value="releaseB">
                    <label for="releaseB">between 1990 & 2000 </label><br>
                    <input type="radio" name="release" id="releaseC" value="releaseC">
                    <label for="releaseC">between 2000 & 2010 </label><br>
                    <input type="radio" name="release" id="releaseD" value="releaseD">
                    <label for="releaseD">between 2010 & 2020 </label><br>
                    <input type="radio" name="release" id="releaseE" value="releaseE">
                    <label for="releaseE">After 2020 </label><br>
                </div>
            </div>
            <div class="contentFitter"><center>
                <button class="neonButton miniNeon" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="additionalTag">See / Hide all additional filters</button>
            </center></div>
            </div>
            <div class="row">
            {% for tag in tags%}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 collapse multi-collapse">
                <div class="choiceCard collapse multi-collapse" id="additionalTag">
                    <h2>{{tag.name}}</h2><br>
                    <div class="switch">
                    <input type="radio" name="{{tag.getStringTagLower}}" id="{{tag.getStringTagLower}}NC" value="{{tag.getStringTagLower}}NC" class="nc" checked>
                    <label for="{{tag.getStringTagLower}}NC" class="switch__label lblnc">NC</label>
                    <input type="radio" name="{{tag.getStringTagLower}}" id="{{tag.getStringTagLower}}Yes" value="{{tag.getStringTagLower}}Yes" class="yes">
                    <label for="{{tag.getStringTagLower}}Yes" class="switch__label lblyes">Yes</label>
                    <input type="radio" name="{{tag.getStringTagLower}}" id="{{tag.getStringTagLower}}No" value="{{tag.getStringTagLower}}No" class="no">
                    <label for="{{tag.getStringTagLower}}No" class="switch__label lblno">No</label>
                    <div class="switch__indicator" /></div>
                    </div>
                </div>
            </div>
            {% endfor %}
            

            <center>
                <div class="dropper10"></div>
                <div class="superFocus">
                    <button class="neonButton" type="submit">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    ROLL
                </button>
                </div>
                <div class="upper10"></div>
            </center>
        </div>
    </div>
</form>
{% endblock %}