



  {% extends "finder/template_page.html" %}
{% load static %}
{% block titre %}
RollResult
{% endblock %}

{% block contenu %}
<h1>{{item}}</h1>
<p><span>autre resultats : </span>{{liste}}</p>
<br><br>
<form action="{% url 'finder:reroll' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="liste" id="liste" value="{{liste}}">
  <input type="submit" value="submit">
</form>
<br><br>
<!-- <div class="_debug">
    <p>DEBUG</p>
    <p>prix <span>{{prix}}</span></p>
    <p>coop <span>{{coop}}</span></p>
    <p>dates <span>{{date}}</span></p>
    <p>inde <span>{{inde}}</span></p>
    <p>online <span>{{online}}</span></p>
    <p>tagPost <span>{{debugTag}}</span></p>
</div> -->
{% endblock %}