{% extends "finder/template_page.html" %}
{% load static %}

{% block additionalCSS %}
    <link rel="stylesheet" type="text/css" href="{% static 'finder/css/radio.css' %}">
{% endblock %}

{% block titre %}Roll{% endblock %} 

{% block contenu %}
<div class="dropper10"></div>
<form action="{% url 'finder:rollResult' 0 %}" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="choiceCard">
                    <h2>Free</h2><br>
                    <div class="switch">
                        <input type="radio" name="free" id="freeNC" value="freeNC" class="nc" checked>
                        <label for="freeNC" class="switch__label lblnc">NC</label>
                        <input type="radio" name="free" id="freeYes" value="freeYes" class="yes">
                        <label for="freeYes" class="switch__label lblyes">Yes</label>
                        <input type="radio" name="free" id="freeNo" value="freeNo" class="no">
                        <label for="freeNo" class="switch__label lblno">No</label>
                        <div class="switch__indicator" /></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="choiceCard">
                    <h2>Online</h2><br>
                    <div class="switch">
                    <input type="radio" name="online" id="onlineNC" value="onlineNC" class="nc" checked>
                    <label for="onlineNC" class="switch__label lblnc">NC</label>
                    <input type="radio" name="online" id="onlineYes" value="onlineYes" class="yes">
                    <label for="onlineYes" class="switch__label lblyes">Yes</label>
                    <input type="radio" name="online" id="onlineNo" value="onlineNo" class="no">
                    <label for="onlineNo" class="switch__label lblno">No</label>
                    <div class="switch__indicator" /></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="choiceCard">
                    <h2>Coop</h2><br>
                    <div class="switch">
                    <input type="radio" name="coop" id="coopNC" value="coopNC" class="nc" checked>
                    <label for="coopNC" class="switch__label lblnc">NC</label>
                    <input type="radio" name="coop" id="coopYes" value="coopYes" class="yes">
                    <label for="coopYes" class="switch__label lblyes">Yes</label>
                    <input type="radio" name="coop" id="coopNo" value="coopNo" class="no">
                    <label for="coopNo" class="switch__label lblno">No</label>
                    <div class="switch__indicator" /></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="choiceCard">
                    <h2>Independant</h2><br>
                    <div class="switch">
                    <input type="radio" name="inde" id="indeNC" value="indeNC" class="nc" checked>
                    <label for="indeNC" class="switch__label lblnc">NC</label>
                    <input type="radio" name="inde" id="indeYes" value="indeYes" class="yes">
                    <label for="indeYes" class="switch__label lblyes">Yes</label>
                    <input type="radio" name="inde" id="indeNo" value="indeNo" class="no">
                    <label for="indeNo" class="switch__label lblno">No</label>
                    <div class="switch__indicator" /></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="choiceCard">
                    <h2>Difficulty</h2><br>
                    <div class="switch">
                    <input type="radio" name="difficulty" id="difficultyNC" value="difficultyNC" class="nc" checked>
                    <label for="difficultyNC" class="switch__label lblnc">NC</label>
                    <input type="radio" name="difficulty" id="difficultyYes" value="difficultyYes" class="yes">
                    <label for="difficultyYes" class="switch__label lblyes">Easy</label>
                    <input type="radio" name="difficulty" id="difficultyNo" value="difficultyNo" class="no">
                    <label for="difficultyNo" class="switch__label lblno">Hard</label>
                    <div class="switch__indicator" /></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="choiceCard">
                    <h2>Mature</h2><br>
                    <div class="switch">
                    <input type="radio" name="mature" id="matureNC" value="matureNC" class="nc" checked>
                    <label for="matureNC" class="switch__label lblnc">NC</label>
                    <input type="radio" name="mature" id="matureYes" value="matureYes" class="yes">
                    <label for="matureYes" class="switch__label lblyes">Yes</label>
                    <input type="radio" name="mature" id="matureNo" value="matureNo" class="no">
                    <label for="matureNo" class="switch__label lblno">No</label>
                    <div class="switch__indicator" /></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="choiceCard">
                    <h2>Release</h2><br>
                    <div class="superswitch">
                        <input type="radio" name="release" id="releaseNC" value="releaseNC" class="nc" checked>
                            <label for="releaseNC" class="superswitch__label lblnotlast">NC</label>
                        <input type="radio" name="release" id="releaseA" value="releaseA" class="one">
                            <label for="releaseA" class="superswitch__label lblnotlast">>90's </label>
                        <input type="radio" name="release" id="releaseB" value="releaseB" class="two">
                            <label for="releaseB" class="superswitch__label lblnotlast">90's</label>
                        <input type="radio" name="release" id="releaseC" value="releaseC" class="three">
                            <label for="releaseC" class="superswitch__label lblnotlast">00's</label>
                        <input type="radio" name="release" id="releaseD" value="releaseD" class="four">
                            <label for="releaseD" class="superswitch__label lblnotlast">10's</label>
                        <input type="radio" name="release" id="releaseE" value="releaseE" class="five">
                            <label for="releaseE" class="superswitch__label">20's</label>
                    <div class="superswitch__indicator" /></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="choiceCard">
                    <h2>Platform</h2><br>
                    <div class="platformswitch">
                        <input type="radio" name="platform" id="platformNC" value="platformNC" class="nc" checked>
                            <label for="platformNC" class="platformswitch__label lblnotlast"><img src="{% static 'finder/img/front/icons/all.png'%}" class="icon-platform" alt=""></label>
                        <input type="radio" name="platform" id="platformA" value="pc" class="one">
                            <label for="platformA" class="platformswitch__label lblnotlast"><img src="{% static 'finder/img/front/icons/pc.png'%}" class="icon-platform" alt=""></label>
                        <input type="radio" name="platform" id="platformB" value="ps" class="two">
                            <label for="platformB" class="platformswitch__label lblnotlast"><img src="{% static 'finder/img/front/icons/ps.png'%}" class="icon-platform" alt=""></label>
                        <input type="radio" name="platform" id="platformC" value="xbox" class="three">
                            <label for="platformC" class="platformswitch__label lblnotlast"><img src="{% static 'finder/img/front/icons/xbox.png'%}" class="icon-platform" alt=""></label>
                        <input type="radio" name="platform" id="platformD" value="nintendo" class="four">
                            <label for="platformD" class="platformswitch__label lblnotlast"><img src="{% static 'finder/img/front/icons/nintendo.png'%}" class="icon-platform" alt=""></label>
                        <input type="radio" name="platform" id="platformE" value="tel" class="five">
                            <label for="platformE" class="platformswitch__label"><img src="{% static 'finder/img/front/icons/smartphone.png'%}" class="icon-platform" alt=""></label>
                    <div class="platformswitch__indicator" /></div>
                    </div>
                </div>
            </div>
            <div class="contentFitter"><center>
                <button class="neonButton miniNeon" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="additionalTag">See / Hide all additional filters</button>
            </center></div>
            </div>
            <div class="row">
            {% for tag in tags%}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 collapse multi-collapse">
                <div class="choiceCard collapse multi-collapse" id="additionalTag">
                    <h2>{{tag.name}}</h2><br>
                    <div class="switch">
                    <input type="radio" name="{{tag.getStringTagLower}}" id="{{tag.getStringTagLower}}NC" value="{{tag.getStringTagLower}}NC" class="nc" checked>
                    <label for="{{tag.getStringTagLower}}NC" class="switch__label lblnc">NC</label>
                    <input type="radio" name="{{tag.getStringTagLower}}" id="{{tag.getStringTagLower}}Yes" value="{{tag.getStringTagLower}}Yes" class="yes">
                    <label for="{{tag.getStringTagLower}}Yes" class="switch__label lblyes">Yes</label>
                    <input type="radio" name="{{tag.getStringTagLower}}" id="{{tag.getStringTagLower}}No" value="{{tag.getStringTagLower}}No" class="no">
                    <label for="{{tag.getStringTagLower}}No" class="switch__label lblno">No</label>
                    <div class="switch__indicator" /></div>
                    </div>
                </div>
            </div>
            {% endfor %}
            

            <center>
                <div class="dropper10"></div>
                <div class="superFocus">
                    <button class="neonButton" type="submit">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    ROLL
                </button>
                </div>
                <div class="upper10"></div>
            </center>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="float-end"><button type="reset" class="neonButton miniNeon" type="button">RESET ALL</button></div>
                    </div>
                    <div class="col-6">
                        <button type="" class="neonButton miniNeon" type="button">RANDOMIZE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}