{% extends "finder/template_page.html" %}
{% load static %}
{% block titre %}
Tags
{% endblock %}

{% block contenu %}
                {% for element, pic in itemList.items %}
                    <div class="container">
                        <div class="row">
                            <div class="col-2">                                
                            </div>
                            <div class="col-8">
                                <div class="itemCard">
                                    <h2>{{ element.libelle }}</h2>
                                    <hr class="solid">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-6">
                                                <img src="{% static pic %}" alt="" class="img-fluid" width="100" height="100">
                                                
                                            </div>
                                            <div class="col-6">
                                                <a href=""><button type="button" class="btn btn-warning">See more...</button></a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>                               
                            </div>
                            <div class="col-2">                                
                            </div>
                        </div>
                    </div>
                {% endfor %}
{% endblock %}