.icon-platform {
	width: 32px;
	height: 32px;
}








.switch {
	position: relative;
	width: 16rem;
	padding: 0 1rem;
	font-family: verdana;
}

.switch:before {
	content: '  ';
	position: absolute;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 3rem;
	background: #000;
	border-radius: 30px;
}

.switch__label {
	display: inline-block;
	width: 2rem;
	padding: 1rem;
	text-align: center;
	cursor: pointer;
	transition: color 200ms ease-out;
}

.switch__label:hover {
	color: white;
}

.switch__indicator {
	width: 3rem;
	height: 3rem;
	position: absolute;
	top: -.01rem;
	left: 0;
	background: blue;
	border-radius: 50%;
	transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97), background 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03);
	transform: translate3d(1rem, 0, 0);
}

.switch input.nc:checked ~ .switch__indicator {
	background: rgb(255, 255, 255);
	transform: translate3d(1.2rem, 0, 0);
	/* box-shadow:inset 0px 0px 1rem rgb(217,119,61); */
	box-shadow:0px 0px 30px rgb(217,119,61),0px 0px 20px rgb(217,119,61),0px 0px 12px rgb(217,119,61),0px 0px 7px rgb(217,119,61),0px 0px 2px rgb(217,119,61), inset 0px 0px 5px rgb(217,119,61);
}

.switch input.yes:checked ~ .switch__indicator {
	background: rgb(255, 255, 255);
	transform: translate3d(6.5rem, 0, 0);
	/* box-shadow:inset 0px 0px 1rem rgb(56,50,86); */
	/* box-shadow:0px 0px 10px rgb(56,50,86); */
	box-shadow:0px 0px 30px rgb(56,50,86),0px 0px 20px rgb(56,50,86),0px 0px 12px rgb(56,50,86),0px 0px 7px rgb(56,50,86),0px 0px 2px rgb(56,50,86), inset 0px 0px 5px rgb(56,50,86);
}

.switch input.no:checked ~ .switch__indicator {
	background: rgb(255, 255, 255);
	transform: translate3d(12.2rem, 0, 0);
	/* box-shadow:inset 0px 0px 1rem rgb(159,26,40); */
	box-shadow:0px 0px 30px rgb(159,26,40),0px 0px 20px rgb(159,26,40),0px 0px 12px rgb(159,26,40),0px 0px 7px rgb(159,26,40),0px 0px 2px rgb(159,26,40), inset 0px 0px 5px rgb(159,26,40);
}

.switch input[type="radio"]:not(:checked), .switch input[type="radio"]:checked {
	display: none;
}
.lblnc, .lblyes {
    margin-right: 3rem;
}

/* 
body {
	background: #333;
	color: #999;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -9rem;
	margin-top: -3rem;
} */


.superswitch {
	position: relative;
	width: 28rem;
	padding: 0 1rem;
	font-family: verdana;
}

.superswitch:before {
	content: '  ';
	position: absolute;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 3rem;
	background: #000;
	border-radius: 30px;
}

.superswitch__label {
	display: inline-block;
	width: 2rem;
	padding: 1rem;
	text-align: center;
	cursor: pointer;
	transition: color 200ms ease-out;
}

.superswitch__label:hover {
	color: white;
}

.superswitch__indicator {
	width: 3rem;
	height: 3rem;
	position: absolute;
	top: -.01rem;
	left: 0;
	background: blue;
	border-radius: 50%;
	transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97), background 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03);
	transform: translate3d(1rem, 0, 0);
}

.superswitch input.nc:checked ~ .superswitch__indicator {
	background: rgb(255, 255, 255);
	transform: translate3d(1.2rem, 0, 0);
	box-shadow:0px 0px 30px rgb(217,119,61),0px 0px 20px rgb(217,119,61),0px 0px 12px rgb(217,119,61),0px 0px 7px rgb(217,119,61),0px 0px 2px rgb(217,119,61), inset 0px 0px 5px rgb(217,119,61);
}

.superswitch input.one:checked ~ .superswitch__indicator {
	background: rgb(255, 255, 255);
	transform: translate3d(6.5rem, 0, 0);
	box-shadow:0px 0px 30px rgb(75,50,50),0px 0px 20px rgb(75,50,50),0px 0px 12px rgb(75,50,50),0px 0px 7px rgb(75,50,50),0px 0px 2px rgb(75,50,50), inset 0px 0px 5px rgb(75,50,50);
}

.superswitch input.two:checked ~ .superswitch__indicator {
	background: rgb(255, 255, 255);
	transform: translate3d(10.2rem, 0, 0);
	box-shadow:0px 0px 30px rgb(56,50,86),0px 0px 20px rgb(56,50,86),0px 0px 12px rgb(56,50,86),0px 0px 7px rgb(56,50,86),0px 0px 2px rgb(56,50,86), inset 0px 0px 5px rgb(56,50,86);
}

.superswitch input.three:checked ~ .superswitch__indicator {
	background: rgb(255, 255, 255);
	transform: translate3d(14.7rem, 0, 0);
	box-shadow:0px 0px 30px rgb(58,33,56),0px 0px 20px rgb(58,33,56),0px 0px 12px rgb(58,33,56),0px 0px 7px rgb(58,33,56),0px 0px 2px rgb(58,33,56), inset 0px 0px 5px rgb(58,33,56);
}

.superswitch input.four:checked ~ .superswitch__indicator {
	background: rgb(255, 255, 255);
	transform: translate3d(19.2rem, 0, 0);
	box-shadow:0px 0px 30px rgb(60,24,40),0px 0px 20px rgb(60,24,40),0px 0px 12px rgb(60,24,40),0px 0px 7px rgb(60,24,40),0px 0px 2px rgb(60,24,40), inset 0px 0px 5px rgb(60,24,40);
}

.superswitch input.five:checked ~ .superswitch__indicator {
	background: rgb(255, 255, 255);
	transform: translate3d(23.1rem, 0, 0);
	box-shadow:0px 0px 30px rgb(159,26,40),0px 0px 20px rgb(159,26,40),0px 0px 12px rgb(159,26,40),0px 0px 7px rgb(159,26,40),0px 0px 2px rgb(159,26,40), inset 0px 0px 5px rgb(159,26,40);
}

.superswitch input[type="radio"]:not(:checked), .superswitch input[type="radio"]:checked {
	display: none;
}
.lblnotlast {
    margin-right: 2rem;
}

/* 
body {
	background: #333;
	color: #999;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -9rem;
	margin-top: -3rem;
} */


.platformswitch {
	position: relative;
	width: 28rem;
	padding: 0 1rem;
	font-family: verdana;
}

.platformswitch:before {
	content: '  ';
	position: absolute;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 3rem;
	background: rgb(0, 0, 0);
	border-radius: 30px;
}

.platformswitch__label {
	display: inline-block;
	width: 2rem;
	padding: 1rem;
	text-align: center;
	cursor: pointer;
	transition: color 200ms ease-out;
}

.platformswitch__label:hover {
	color: white;
}

.platformswitch__indicator {
	width: 3rem;
	height: 3rem;
	position: absolute;
	top: -.01rem;
	left: 0;
	background: blue;
	border-radius: 50%;
	transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97), background 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03);
	transform: translate3d(1rem, 0, 0);
}

.platformswitch input.nc:checked ~ .platformswitch__indicator {
	background: rgb(255, 255, 255);
	transform: translate3d(1.2rem, 0, 0);
	box-shadow:0px 0px 30px rgb(217,119,61),0px 0px 20px rgb(217,119,61),0px 0px 12px rgb(217,119,61),0px 0px 7px rgb(217,119,61),0px 0px 2px rgb(217,119,61), inset 0px 0px 5px rgb(217,119,61);
}

.platformswitch input.one:checked ~ .platformswitch__indicator {
	background: rgb(255, 255, 255);
	transform: translate3d(5.7rem, 0, 0);
	box-shadow:0px 0px 30px rgb(75,50,50),0px 0px 20px rgb(75,50,50),0px 0px 12px rgb(75,50,50),0px 0px 7px rgb(75,50,50),0px 0px 2px rgb(75,50,50), inset 0px 0px 5px rgb(75,50,50);
}

.platformswitch input.two:checked ~ .platformswitch__indicator {
	background: rgb(255, 255, 255);
	transform: translate3d(10.2rem, 0, 0);
	box-shadow:0px 0px 30px rgb(56,50,86),0px 0px 20px rgb(56,50,86),0px 0px 12px rgb(56,50,86),0px 0px 7px rgb(56,50,86),0px 0px 2px rgb(56,50,86), inset 0px 0px 5px rgb(56,50,86);
}

.platformswitch input.three:checked ~ .platformswitch__indicator {
	background: rgb(255, 255, 255);
	transform: translate3d(14.7rem, 0, 0);
	box-shadow:0px 0px 30px rgb(58,33,56),0px 0px 20px rgb(58,33,56),0px 0px 12px rgb(58,33,56),0px 0px 7px rgb(58,33,56),0px 0px 2px rgb(58,33,56), inset 0px 0px 5px rgb(58,33,56);
}

.platformswitch input.four:checked ~ .platformswitch__indicator {
	background: rgb(255, 255, 255);
	transform: translate3d(18.9rem, 0, 0);
	box-shadow:0px 0px 30px rgb(60,24,40),0px 0px 20px rgb(60,24,40),0px 0px 12px rgb(60,24,40),0px 0px 7px rgb(60,24,40),0px 0px 2px rgb(60,24,40), inset 0px 0px 5px rgb(60,24,40);
}

.platformswitch input.five:checked ~ .platformswitch__indicator {
	background: rgb(255, 255, 255);
	transform: translate3d(23.2rem, 0, 0);
	box-shadow:0px 0px 30px rgb(159,26,40),0px 0px 20px rgb(159,26,40),0px 0px 12px rgb(159,26,40),0px 0px 7px rgb(159,26,40),0px 0px 2px rgb(159,26,40), inset 0px 0px 5px rgb(159,26,40);
}

.platformswitch input[type="radio"]:not(:checked), .platformswitch input[type="radio"]:checked {
	display: none;
}
.lblnotlast {
    margin-right: 2rem;
}