.icon-platform {
	width: 32px;
	height: 32px;
}








.switch {
	position: relative;
	width: 16rem;
	padding: 0 1rem;
	font-family: verdana;
}

.switch:before {
	content: '  ';
	position: absolute;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 3rem;
	background: #000;
	border-radius: 30px;
}

.switch__label {
	display: inline-block;
	width: 2rem;
	padding: 1rem;
	text-align: center;
	cursor: pointer;
	transition: color 200ms ease-out;
}

.switch__label:hover {
	color: white;
}

.switch__indicator {
	width: 4rem;
	height: 4rem;
	position: absolute;
	top: -.5rem;
	left: 0;
	background: blue;
	border-radius: 50%;
	transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97), background 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03);
	transform: translate3d(1rem, 0, 0);
}

.switch input.nc:checked ~ .switch__indicator {
	background: rgb(217,119,61);
	transform: translate3d(1.2rem, 0, 0);
}

.switch input.yes:checked ~ .switch__indicator {
	background: rgb(56,50,86);
	transform: translate3d(5.5rem, 0, 0);
}

.switch input.no:checked ~ .switch__indicator {
	background: rgb(159,26,40);
	transform: translate3d(10.6rem, 0, 0);
}

.switch input[type="radio"]:not(:checked), .switch input[type="radio"]:checked {
	display: none;
}
.lblnc, .lblyes {
    margin-right: 3rem;
}

/* 
body {
	background: #333;
	color: #999;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -9rem;
	margin-top: -3rem;
} */


.superswitch {
	position: relative;
	width: 28rem;
	padding: 0 1rem;
	font-family: verdana;
}

.superswitch:before {
	content: '  ';
	position: absolute;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 3rem;
	background: #000;
	border-radius: 30px;
}

.superswitch__label {
	display: inline-block;
	width: 2rem;
	padding: 1rem;
	text-align: center;
	cursor: pointer;
	transition: color 200ms ease-out;
}

.superswitch__label:hover {
	color: white;
}

.superswitch__indicator {
	width: 4rem;
	height: 4rem;
	position: absolute;
	top: -.5rem;
	left: 0;
	background: blue;
	border-radius: 50%;
	transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97), background 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03);
	transform: translate3d(1rem, 0, 0);
}

.superswitch input.nc:checked ~ .superswitch__indicator {
	background: rgb(217,119,61);
	transform: translate3d(1.2rem, 0, 0);
}

.superswitch input.one:checked ~ .superswitch__indicator {
	background: rgb(75,50,50);
	transform: translate3d(5.7rem, 0, 0);
}

.superswitch input.two:checked ~ .superswitch__indicator {
	background: rgb(56,50,86);
	transform: translate3d(9.7rem, 0, 0);
}

.superswitch input.three:checked ~ .superswitch__indicator {
	background: rgb(58,33,56);
	transform: translate3d(13.7rem, 0, 0);
}

.superswitch input.four:checked ~ .superswitch__indicator {
	background: rgb(60,24,40);
	transform: translate3d(17.7rem, 0, 0);
}

.superswitch input.five:checked ~ .superswitch__indicator {
	background: rgb(159,26,40);
	transform: translate3d(22.7rem, 0, 0);
}

.superswitch input[type="radio"]:not(:checked), .superswitch input[type="radio"]:checked {
	display: none;
}
.lblnotlast {
    margin-right: 2rem;
}

/* 
body {
	background: #333;
	color: #999;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -9rem;
	margin-top: -3rem;
} */


.platformswitch {
	position: relative;
	width: 28rem;
	padding: 0 1rem;
	font-family: verdana;
}

.platformswitch:before {
	content: '  ';
	position: absolute;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 3rem;
	background: rgb(0, 0, 0);
	border-radius: 30px;
}

.platformswitch__label {
	display: inline-block;
	width: 2rem;
	padding: 1rem;
	text-align: center;
	cursor: pointer;
	transition: color 200ms ease-out;
}

.platformswitch__label:hover {
	color: white;
}

.platformswitch__indicator {
	width: 4rem;
	height: 4rem;
	position: absolute;
	top: -.5rem;
	left: 0;
	background: blue;
	border-radius: 50%;
	transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97), background 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03);
	transform: translate3d(1rem, 0, 0);
}

.platformswitch input.nc:checked ~ .platformswitch__indicator {
	background: rgb(217,119,61);
	transform: translate3d(1.2rem, 0, 0);
}

.platformswitch input.one:checked ~ .platformswitch__indicator {
	background: rgb(75,50,50);
	transform: translate3d(5.7rem, 0, 0);
}

.platformswitch input.two:checked ~ .platformswitch__indicator {
	background: rgb(56,50,86);
	transform: translate3d(9.7rem, 0, 0);
}

.platformswitch input.three:checked ~ .platformswitch__indicator {
	background: rgb(58,33,56);
	transform: translate3d(13.7rem, 0, 0);
}

.platformswitch input.four:checked ~ .platformswitch__indicator {
	background: rgb(60,24,40);
	transform: translate3d(18.0rem, 0, 0);
}

.platformswitch input.five:checked ~ .platformswitch__indicator {
	background: rgb(159,26,40);
	transform: translate3d(22.7rem, 0, 0);
}

.platformswitch input[type="radio"]:not(:checked), .platformswitch input[type="radio"]:checked {
	display: none;
}
.lblnotlast {
    margin-right: 2rem;
}