h1 {
    color: rgb(5, 200, 5);
}

h2 {
    color: rgb(0, 0, 0);
    font-weight: 600;
}

body {
    background: black url("../img/bg.jpg") no-repeat fixed;
    background-position: 0% 75%;
}

.itemCard {
    background-color: rgba(250, 235, 215, 0.7);
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
    padding-bottom: 15px;
    animation-duration: 1s;
    animation-name: unhoveringItemCard;
}

.itemCard h2 {
    padding-left: 25px;
}

.itemCard:hover {
    background-color: rgba(250, 235, 215, 0.9);
    animation-duration: 2s;
    animation-name: hoveringItemCard;
}

.zoomOnHover {
    animation-duration: 1s;
    animation-name: imageMiniZoomOut;
    transform: scale(1, 1)
}
.zoomOnHover:hover {
    animation-duration: 2s;
    animation-name: imageMiniZoomIn;
    transform: scale(1.2, 1.2)
}

.imgBanner {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.imgFoot {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.btnEnd {
    margin-left: 100px;
}

@keyframes hoveringItemCard {
    from {
      background-color: rgba(250, 235, 215, 0.7);
    }
  
    to {
      background-color: rgba(250, 235, 215, 0.9);
    }
}
@keyframes unhoveringItemCard {
    from {
      background-color: rgba(250, 235, 215, 0.9);
    }
  
    to {
      background-color: rgba(250, 235, 215, 0.7);
    }
}

@keyframes imageMiniZoomIn {
    from {
        transform: scale(1, 1);
    } to {
        transform: scale(1.2, 1.2);
    }
}
@keyframes imageMiniZoomOut {
    from {
        transform: scale(1.2, 1.2);
    } to {
        transform: scale(1, 1);
    }
}